#container {
  width: 768px;
  height: 768px;
}

#status_label {
  position: absolute;
  top: 768px;
  width: 768px;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
  pointer-events: none;
}

#drawing_canvas {
  position: absolute;
}
