.board {
  padding: 30px;

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__layout {
    margin-right: 10px;
  }

  &__body-header {
    display: flex;

    h1 {
      margin-right: 10px;
    }

    h2 {
      color: #b7b7b7;
    }
  }

  &__columns-wrapper {
    display: flex;
    justify-content: space-between;

    &--vertical {
      flex-direction: column;
    }
  }

  &__column {
    width: 100%;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__column-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__column-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__column-new-item {
    width: 100%;

    button {
      width: 100%;
    }
  }

  &__item {
    border: 2px solid transparent;
    min-height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;

    backdrop-filter: blur(7.0px);
    -webkit-backdrop-filter: blur(7.0px);
    background: rgba(255, 255, 255, 0.25) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    button {
      background-color: rgba(255, 255, 255, 0.5);
      border: 0;
      border-radius: 10px;
      padding: 5px 10px;
      color: inherit;
    }

    textarea {
      resize: none;
      width: 100%;
      border: 0;
      padding: 0;
      outline: none;
      background-color: transparent;
    }

    div {
      display: flex;
      justify-content: space-between;
    }
  }
}
