<div *ngIf="board$ | async as board" class="board">
  <div class="board__header">
    <div class="board__layout">
      <span class="board__layout-label">
        Change layout
      </span>

      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (change)="onLayoutChange($event)" checked="true" value="HORIZONTAL">
          <mat-icon svgIcon="horizontal" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        </mat-button-toggle>
        <mat-button-toggle (change)="onLayoutChange($event)" value="VERTICAL">
          <mat-icon svgIcon="vertical" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <app-dashboard-panel-actions
      (search)="onSearch($event)"
      (select)="onSort($event)"
    ></app-dashboard-panel-actions>

    <button *ngIf="!board.completed" (click)="onShareUrl(board)" mat-icon-button color="primary" aria-label="Share">
      <mat-icon>share</mat-icon>
    </button>
  </div>
  <div class="board__body" *ngIf="sort$ | async as sort">
    <div class="board__body-header">
      <h1>{{board.title}}</h1>
    </div>

    <ng-container *ngIf="likes$ | async as likes">
      <div
        *ngIf="posts$ | async as posts"
        class="board__columns-wrapper"
        [ngClass]="{'board__columns-wrapper--vertical': verticalLayout}"
      ><div *ngFor="let column of columns$ | async | orderBy:'position'" class="board__column">
          <div class="board__column-header">
            <div class="board__column-title">
              <span>{{column.title}}</span>
            </div>

            <div *ngIf="!board.completed" class="board__column-new-item">
              <button
                (click)="toggle(column.title, true)"
                [ngStyle]="{'background-color': column.color }"
                mat-raised-button color="primary"
              >+</button>
            </div>
          </div>

          <div class="board__item" *ngIf="addNewPostToggleMap[column.title]" [ngStyle]="{'border-color': column.color }">
            <app-board-edit-item
              (close)="toggle(column.title, false)"
              (save)="onSaveNewItem($event, column)"
            ></app-board-edit-item>
          </div>

          <ng-container *ngFor="let item of posts | filter:'value':(search$ | async) | orderBy:sort:sort === 'date'">
            <app-board-view-item
              *ngIf="item.columnPosition === column.position"
              [edit]="editPostToggleMap[item.id]"
              [color]="column.color"
              [likes]="likesMap[item.id]"
              [post]="item"
              (addRemoveLike)="onAddRemoveLike($event)"
              (save)="onEditItem($event)"
              (remove)="onEditItem($event, true)"
              (toggle)="onToggleItem($event, board.completed)"
            ></app-board-view-item>
          </ng-container>
        </div>

      </div>
    </ng-container>
  </div>
</div>
