<div class="header d-flex align-items-center justify-content-between">
  <div routerLink="/dashboard" class="header__logo">
    <h1>iziRetro</h1>
  </div>

  <div class="header__user" *ngIf="user$ | async as user">
    <ng-container *ngIf="user.emailVerified">
      <span class="header__user-name d-none d-md-inline-block">{{user.displayName}}</span>

      <button class="p-0" mat-button [matMenuTriggerFor]="menu">
        <img class="header__user-img" [src]="user.photoURL" alt="User image">
      </button>

      <mat-menu #menu="matMenu">
        <button (click)="onLogout()" mat-menu-item>Logout</button>
      </mat-menu>
    </ng-container>
  </div>
</div>
