@import 'variables';

.auth {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &__wrapper {
    backdrop-filter: $blur;
    background: $glass-background;
    border-radius: 30px;
    max-width: 400px;
    transition: ease all .5s;

    @media (max-width: $screen-md-max) {
      max-width: 420px;
    }

    @media (max-width: $screen-xs-max) {
      max-width: 95%;
    }
  }
}
