@import 'variables';

.dashboard-panel-actions {
  &__add {
    background-color: $color-alpha;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }

  mat-option,
  ::ng-deep .mat-select-value,
  mat-label {
    color: $color-alpha;
  }

  &__right {
    margin-left: auto;

    mat-form-field:first-child {
      margin-right: 15px;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;

      mat-form-field {
        width: 100%;
      }
    }
  }
}
