.dashboard-panel-actions {
  &__add {
    background-color: #426696;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  mat-option,
  ::ng-deep .mat-select-value,
  mat-label {
    color: #426696;
  }

  &__right {
    margin-left: auto;

    mat-form-field:first-child {
      margin-right: 15px;
    }

    @media (max-width: 767px) {
      width: 100%;

      mat-form-field {
        width: 100%;
      }
    }
  }
}
