<div class="dashboard-panel-actions d-flex flex-column justify-content-center align-items-start justify-content-md-between flex-md-row">
  <button class="dashboard-panel-actions__add" *ngIf="creator" (click)="onCreateBoard()" mat-mini-fab color="primary" aria-label="Create new Board">
    <mat-icon>add</mat-icon>
  </button>
  <div class="dashboard-panel-actions__right">
    <mat-form-field *ngIf="sorts.length">
      <mat-label>Sort by</mat-label>
      <mat-select (selectionChange)="onSelect($event)" >
        <ng-container *ngFor="let sort of sorts">
          <mat-option [value]="sort">{{ sort.title || sort.value | titlecase }} {{ sort.asc ? '(Asc)' : '(Desc)' }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Search</mat-label>
      <input #search (keyup)="onSearch(search.value)" matInput>
      <button mat-button *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear" (click)="onSearch(''); search.value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

</div>
