.board-view-item {
  margin-top: 10px;
  min-height: 100px;
  padding: 10px;
  transition: .3s;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  > div {
    width: 100%;
    cursor: pointer;
  }

  &__likes-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    mat-icon {
      opacity: 0.5;
      margin-right: 3px;
      width: 16px;
      height: 16px;
      margin-bottom: 4px;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__likes {
    display: flex;
    margin-right: 10px;
    max-width: 132px;
    border-radius: 50px;
    overflow-x: hidden;
    justify-content: flex-end;

    div {
      display: flex;
      justify-content: flex-end;

      img {
        width: 20px;
        margin: 0 -3px;
        height: 20px;
        border-radius: 50%;
      }

      &:first-child {
        img {
          margin-left: 0px;
        }
      }

      &:last-child {
        img {
          margin-right: 0px;
        }
      }
    }
  }

  app-board-edit-item {
    width: 100%;
  }

  box-shadow: -1px -1px 0px 0 rgb(255 255 255 / 80%), 1px 1px 0px 0 rgb(255 255 255 / 20%);
}
