.board-view-item {
  border: 5px solid transparent;
  color: #fff;
  cursor: pointer;
  min-height: 50px;
  margin-top: 10px;
  padding: 5px;
  transition: .3s;

  &:hover {
    border-radius: 10px;
    background-color: white !important;
    color: black;
  }

  textarea {
    resize: none;
    width: 100%;
    border: 0;
    padding: 0;
    outline: none;
  }

  div {
    display: flex;
    justify-content: space-between;
  }
}
