<div class="board-view-item"
  [class.board-view-item--edit]="edit" (click)="onToggle(true)"
  [ngStyle]="{'background-color': color, 'border-color': color }"
  ><div *ngIf="!edit">
    {{ post.value }}
  </div>

  <div *ngIf="!edit" class="board-view-item__likes-wrapper">
    <mat-icon svgIcon="heart" aria-hidden="false" (click)="onAddRemoveLike($event)"></mat-icon>
    <span>{{ likes?.length }}</span>
  </div>

  <ng-container *ngIf="edit">
    <app-board-edit-item
      [value]="post.value"
      (close)="onToggle(false)"
      (remove)="onRemove()"
      (save)="onSave($event)"
    ></app-board-edit-item>
  </ng-container>
</div>
