<div
  class="board-view-item d-flex flex-wrap align-content-between"
  [class.board-view-item--editable]="editable"
  (click)="onToggle(true)"
  [ngStyle]="{'background-color': color, 'border-color': color }"
><div *ngIf="!edit">
    {{ post.value }}
  </div>

  <div *ngIf="!edit" class="board-view-item__likes-wrapper d-flex justify-content-end align-items-center">
    <div class="board-view-item__likes d-flex justify-content-end">
      <div *ngFor="let like of likes" [matTooltip]="like.user.displayName" class="d-flex justify-content-end">
        <img [src]="like.user.photoURL">
      </div>
    </div>
    <div class="d-flex align-items-center" (click)="onAddRemoveLike($event)">
      <mat-icon [svgIcon]="isLiked ? 'heart' : 'heart-outlined'" aria-hidden="false"></mat-icon>
      <span>{{ likes?.length }}</span>
    </div>
  </div>

  <ng-container *ngIf="edit">
    <app-board-edit-item
      class="w-100"
      [value]="post.value"
      (close)="onToggle(false)"
      (remove)="onRemove()"
      (save)="onSave($event)"
    ></app-board-edit-item>
  </ng-container>
</div>
