<div class="board-view-item"
  [class.board-view-item--edit]="edit" (click)="onToggle($event, true)"
  [ngStyle]="{'background-color': color, 'border-color': color }"
  ><div *ngIf="!edit">
    {{ post.value }}
  </div>
  <ng-container *ngIf="edit">
    <textarea appAutofocus #textarea rows="4" [value]="post.value"></textarea>
    <div>
      <button (click)="onSave($event, textarea.value.trim())">Save</button>
      <button (click)="onToggle($event, false)">X</button>
    </div>
  </ng-container>
</div>
