<ng-container *ngIf="boards | filter:'title':searchQuery | orderBy:sort?.value:!sort?.asc as collection">
  <mat-list *ngIf="collection.length; else empty" class="dashboards-list d-flex flex-row justify-content-start flex-wrap align-items-start" role="list">
    <mat-list-item
      *ngFor="let board of collection"
      class="dashboards-list__item-wrapper"
      role="listitem">

      <div class="dashboards-list__item w-100 d-flex flex-row justify-content-between align-items-baseline">
        <div
          [routerLink]="['/dashboard', board.id]"
          class="dashboards-list__item-title d-flex justify-content-between h-100 w-100"
          [class.dashboards-list__item-title--completed]="board.completed"
        >
          <span>
            {{ board.title }}
          </span>

          <span>
            {{ board.date | date }}
          </span>
        </div>

        <span *ngIf="creator" class="d-flex align-items-center">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Open menu">
            <mat-icon aria-hidden="true">more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button *ngIf="!board.completed" (click)="onShareUrl(board)" mat-menu-item>Share URL</button>
            <button (click)="onFreeze(board)" mat-menu-item>{{ board.completed ? 'Unfreeze' : 'Freeze' }}</button>
            <button (click)="onEdit(board)" mat-menu-item>Edit</button>
            <button (click)="onRemove(board)" mat-menu-item>Remove</button>
          </mat-menu>
        </span>
      </div>
    </mat-list-item>
  </mat-list>

  <ng-template #empty>
    <div class="text-center mt-5">
      No results found
    </div>
  </ng-template>
</ng-container>
