.dashboards-list {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  flex-wrap: wrap;

  &__item {
    -webkit-backdrop-filter: blur(7.0px);
    backdrop-filter: blur(7.0px);
    background: rgba(255, 255, 255, 0.25) !important;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: inherit;
    cursor: pointer;
    margin-bottom: 10px;
    margin: 10px;
    max-width: 340px;
    min-height: 110px;

    &-title {
      flex: 1;
    }

    &-menu {
      align-items: center;
      display: flex;
    }

    &:hover {
      .dashboards-list__item-title {
        color: lightblue;
      }
    }
  }
}
