@import 'variables';

.dashboards-list {
  padding: 10px 20px;
  height: 100%;

  ::ng-deep .mat-list-item-content {
    border-radius: 20px;
    height: 100% !important;
    padding: 0 !important;
  }

  &__item-wrapper {
    border-radius: 20px;
    box-shadow: $border-wrapper;
    box-sizing: border-box;
    color: $color-alpha;
    cursor: pointer;
    margin: 10px;
    max-width: 340px;
    min-height: 110px;
    overflow: hidden;
    position: relative;
    z-index: 2;

    @media (max-width: $screen-xs-max) {
      max-width: 100%;
      min-height: 150px;
    }

    &-title {
      flex: 1;
    }

    &:hover {
      .dashboards-list__item-title {
        color: darken($color-alpha, 50);
      }
    }
  }

  &__item {
    background: rgb(255,255,255);
    background: linear-gradient(345deg, rgb(255 255 255 / 50%) 0%, rgb(101 150 246 / 30%), rgb(101 223 201 / 50%));;
    height: 100%;
    padding: 16px;
    z-index: 2;
  }

  &__item-title {
    &--completed {
      text-decoration: line-through;
    }

    &:focus {
      outline: none;
    }
  }
}
