.board-edit-item {
  &__field {
    background-color: transparent;
    border: 0;
    outline: none;
    resize: none;
  }

  &__btn {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0;
    border-radius: 10px;
    padding: 5px 10px;
    color: inherit;

    &:hover {
      background-color: rgba(66, 102, 150, 0.5);
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__icon {
    height: auto;
    line-height: initial;
    width: auto;

    mat-icon {
      color: rgba(255, 255, 255, 0.5);

      &:hover {
        color: rgba(66, 102, 150, 0.5);
      }
    }
  }
}
