<div class="dashboard-panel">
  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="My boards">
      <div class="dashboard-panel__actions">
        <app-dashboard-panel-actions
          [creator]="true"
          (createBoard)="onOpenAddDashboardModal()"
          (search)="onBoardsSearch($event, true)"
          (select)="onBoardsSelect($event, true)"
        ></app-dashboard-panel-actions>
      </div>
      <ng-container *ngIf="boards$ | async as boards">
        <app-dashboards-list
          *ngIf="boards.length"
          [boards]="boards"
          [creator]="true"
          [searchQuery]="searchBoards$ | async"
          [sort]="sortBoards$ | async"
          (removeBoard)="onRemoveBoard($event)"
          (shareUrl)="onShareUrl($event)"
        ></app-dashboards-list>
      </ng-container>
    </mat-tab>

    <mat-tab label="Shared with Me">
      <div class="dashboard-panel__actions">
        <app-dashboard-panel-actions
          (search)="onBoardsSearch($event)"
          (select)="onBoardsSelect($event)"
        ></app-dashboard-panel-actions>
      </div>
      <ng-container *ngIf="sharedWithMe$ | async as boards">
        <app-dashboards-list
          *ngIf="boards.length"
          [boards]="boards"
          [searchQuery]="searchSharedWithMe$ | async"
          [sort]="sortSharedWithMe$ | async"
        ></app-dashboards-list>
      </ng-container>
    </mat-tab>

  </mat-tab-group>
</div>
