<div class="dashboard-panel">
  <mat-tab-group mat-align-tabs="center">

    <ng-container *ngIf="boards$ | async as boards">
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="dashboard-panel__tab" [matBadge]="boards.length" matBadgeOverlap="false">My boards</span>
        </ng-template>
        <div class="dashboard-panel__actions">
          <app-dashboard-panel-actions
            [creator]="true"
            [sorts]="sorts"
            (createBoard)="openDashboardModal()"
            (search)="onBoardsSearch($event, true)"
            (select)="onBoardsSelect($event, true)"
          ></app-dashboard-panel-actions>
        </div>
        <app-dashboards-list
          *ngIf="boards.length"
          [boards]="boards"
          [creator]="true"
          [searchQuery]="searchBoards$ | async"
          [sort]="sortBoards$ | async"
          (editBoard)="openDashboardModal($event)"
          (removeBoard)="onRemoveBoard($event)"
          (shareUrl)="onShareUrl($event)"
          (freeze)="onFreeze($event)"
        ></app-dashboards-list>
      </mat-tab>
    </ng-container>

    <ng-container *ngIf="sharedWithMe$ | async as boards">
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="dashboard-panel__tab" [matBadge]="boards.length" matBadgeOverlap="false">Shared with Me</span>
        </ng-template>
        <div class="dashboard-panel__actions">
          <app-dashboard-panel-actions
            [sorts]="sorts"
            (search)="onBoardsSearch($event)"
            (select)="onBoardsSelect($event)"
          ></app-dashboard-panel-actions>
        </div>
        <app-dashboards-list
          *ngIf="boards.length"
          [boards]="boards"
          [searchQuery]="searchSharedWithMe$ | async"
          [sort]="sortSharedWithMe$ | async"
        ></app-dashboards-list>
      </mat-tab>
    </ng-container>

  </mat-tab-group>
</div>
