@import 'grid';
@import 'variables';
@import '~bootstrap-4-grid/scss/grid';

* {
  font-family: 'Poppins', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $color-alpha2;
  color: $color-alpha;
  overflow: hidden;
}

main {
  background: linear-gradient(180deg, $color-alpha2, $color-beta);
  min-height: 100vh;
}

.glass {
  animation: glassAnimation 5s ease-in;
  backdrop-filter: $blur;
  background: $glass-background;
  border-radius: 30px;
  box-shadow: $border-wrapper;
  height: 90vh;
  padding: 8px;
  transition: ease all .5s;
  width: 80%;
  z-index: 2;

  @include media-breakpoint-down(md) {
    width: 95%;
  }

  @include media-breakpoint-down(xs) {
    width: 90%;
  }

  &__wrapper {
    height: calc(90vh - 16px);
    overflow: auto;

    &::-webkit-scrollbar-thumb {
      background-color: #3F51B5;
      background-clip: padding-box;
      border: 4px solid transparent;
      border-radius: 8px;
    }

    &::-webkit-scrollbar {
      width: 15px;
    }
  }
}

.circle1,
.circle2 {
  background: $glass-background;
  border-radius: 50%;
  box-shadow: $border-wrapper;
  height: 20rem;
  position: absolute;
  transition: ease all .5s;
  width: 20rem;

  @include media-breakpoint-down(xs) {
    height: 10rem;
    width: 10rem;
  }
}

.circle1 {
  animation: circle1Animation 2s ease-in;
  right: 2%;
  top: 1%;
  transition: ease all .5s;

  @include media-breakpoint-down(xs) {
    right: -10%;
  }
}

.circle2 {
  animation: circle2Animation 2s ease-in;
  bottom: 1%;
  left: 2%;
  transition: ease all .5s;

  @include media-breakpoint-down(xs) {
    left: -10%;
  }
}

.dashboards-list__item {
  .mat-list-item-content {
    justify-content: space-between;
  }
}

.mat-select-panel,
.mat-menu-panel {
  -webkit-backdrop-filter: $blur;
  backdrop-filter: $blur;
  background: rgba(255, 255, 255, 0.65) !important;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.mat-select-panel {
  mat-option {
    font-size: 14px !important;
  }
}

.share-modal {
  .mat-dialog-container {
    padding: 0;
  }
}

.dashboard-panel {
  mat-tab-body {
    height: 100%;

    &,
    .mat-tab-body-content {
      overflow: hidden !important;
    }
  }
}

mat-button-toggle-group {
  .mat-button-toggle .mat-button-toggle-ripple, .mat-button-toggle-focus-overlay {
    border-radius: 9px;
  }

  mat-button-toggle {
    border-left: none !important;
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 26px !important;
  }

  .mat-button-toggle-label-content {
    padding: 0 20px !important;
  }
}

app-dashboard-panel-actions {
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

// Animations
@keyframes glassAnimation {
  0% {
    backdrop-filter: unset;
  }
  100% {
    backdrop-filter: $blur;
  }
}

@keyframes circle1Animation {
  0% {
    right: -20%;
  }
  100% {
    right: 2%;
  }
}

@keyframes circle2Animation {
  0% {
    left: -20%;
    bottom: -10%
  }
  100% {
    bottom: 1%;
    left: 2%;
  }
}
