@import 'assets/scss/grid';
@import '~bootstrap-4-grid/scss/grid';

html,
body {
  color: #426696;
  overflow: hidden;
}

* {
  font-family: 'Poppins', "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  align-items: center;
  background: linear-gradient(to right top, #6596F6, #65DFC9);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.glass {
  backdrop-filter: blur(2rem);
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7),  rgba(255, 255, 255, 0.3));
  border-radius: 30px;
  box-shadow: -1px -1px 1px 1px rgb(255, 255, 255), 0px 0px 1px 1px rgb(255, 255, 255, 0.5);
  height: 90vh;
  height: 90vh;
  overflow: auto;
  width: 80%;
  z-index: 2;
  animation: glassAnimation 5s ease-in;

  @media (max-width: 1023px) {
    width: 90%;
  }

  @media (max-width: 767px) {
    width: 95%;
  }
}

@keyframes glassAnimation {
  0% {
    backdrop-filter: unset;
  }
  100% {
    backdrop-filter: blur(2rem);
  }
}

.circle1,
.circle2 {
  background: #fff;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 50%;
  box-shadow: -1px -1px 1px 1px rgb(255, 255, 255), 0px 0px 1px 1px rgb(255, 255, 255);
  height: 20rem;
  position: absolute;
  width: 20rem;
}

@keyframes circle1Animation {
  0% {
    right: -20%;
    top: -10%
  }
  100% {
    right: 2%;
    top: 1%;
  }
}

@keyframes circle2Animation {
  0% {
    left: -20%;
    bottom: -10%
  }
  100% {
    bottom: 1%;
    left: 2%;
  }
}

.circle1 {
  right: 2%;
  top: 1%;
  animation: circle1Animation 2s ease-in;
}

.circle2 {
  bottom: 1%;
  left: 2%;
  animation: circle2Animation 2s ease-in;
}

.dashboards-list__item {
  .mat-list-item-content {
    justify-content: space-between;
  }
}
.mat-select-panel,
.mat-menu-panel {
  -webkit-backdrop-filter: blur(7.0px);
  backdrop-filter: blur(7.0px);
  background: rgba(255, 255, 255, 0.65) !important;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.mat-select-panel {
  mat-option {
    font-size: 14px !important;
  }
}

.share-modal {
  .mat-dialog-container {
    padding: 0;
  }
}

.dashboard-panel {
  mat-tab-body {
    height: 100%;
  }
}
